table {
  border-collapse: collapse;
}

td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:nth-child(odd) {
  background-color: white;
}

th {
  display: flex;
  margin-bottom: 2%;
}
p {
  margin: 0;
}

.table-wrapper {
  display: flex;
  justify-content: center;
}
